<h1>Edit User ingest token</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_ingest_token_path(@conn, :update, @user_ingest_token)) %>

<span><%= link "Back", to: Routes.user_ingest_token_path(@conn, :index) %></span>
