<h1>Edit Organization role</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.organization_role_path(@conn, :update, @organization_role)) %>

<span><%= link "Back", to: Routes.organization_role_path(@conn, :index) %></span>
